@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    outline: 0px;
    margin:0px;
    padding:0px;
}

/* navigation bar */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DatalegreyaThin';
  font-weight: bold;
}

header > a {
  display:flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

header > a:hover {
  color: rgb(70, 190, 154);
  font-size: 22px;
  transition: color 0.5s, font-size 0.5s;
  /* background-image: linear-gradient(rgb(235, 235, 235), rgb(255, 255, 255)); */
}

/* Hero Div */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("Fallingwater.png");
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  padding: 20px;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.hero > img {
  width: 150px;
  border-radius:25%;
}

/* Cards */

.container > a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fjalla One';
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  margin: 10px;
  padding: 25px;
}

/* Use bolder fonts for hero text! */
.card > p {
  font-family: 'Montserrat';
  padding: 20px;
}

.card > i {
  font-size: 40px;
  padding: 20px;
}

.card > h2 {
  font-size: 30px;
}

@media only screen and (min-width: 600px) {
  header, .container{
    flex-direction: row;
  }
  .hero {
    padding: 100px;
  }
}